.todolistItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;

  .wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;

    .itemWrap {
      padding: 20px 0;
    }
  }
}

